@import '../../../../../../stylesCommon/common';

.payment {
    &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    &__input {
        border: 0.5px solid $black;
        padding: 1em;
        font-size: 1rem;
        font-weight: lighter;
        transition: 0.5s ease-in;
        color: $black;

        &:hover {
            border: 0.5px solid $black;
        }
    }

    &__checks {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
}
