@import '../../../../../../stylesCommon/common';

.payment {
    &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    &__checks {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
}
