@import '../../../../stylesCommon/_common';

.lastCollections {
    text-align: center;
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    &__tabs {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }
    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-bottom: 3rem;
    }
    
}