@import '../../../stylesCommon/_common';

.selection {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;
    }
    &__body {
        margin-bottom: 2rem;
    }
    &__item {
        background: green;
        text-align: center;
        height: 300px;
    }
    &__slider {
        margin-bottom: 1rem;
    }
    
}