@import '../../../stylesCommon/common';

.cart {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background: $white;
    width: 50%;
    padding: 2rem;
    height: 100vh;
    overflow-y: scroll;
    direction: rtl;

    &>* {
        direction: ltr;
    }

    &::-webkit-scrollbar {
        width: 0.2rem;
        background-color: $beige;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $black;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    &__subtotal {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &__subtotalText {
        margin-right: 0.5rem;
    }

    &__cardsWrap {
        padding-bottom: 2rem;
        border-bottom: 0.5px solid $grey;
    }
}