@import '../../../../stylesCommon/common';

.reviews {  
    margin-left: 2rem;
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__filterIcon {
        width: 1.5rem;
        height: 1.5rem;
    }
    &__filterWrap {
        margin: 2rem 0;
        display: flex;
        gap: 1rem;
    }
    &__loadButton {
        margin-top: 3rem;
    }
}